/** Font Source: https://www.1001fonts.com/abeezee-font.html*/
@font-face {
  font-family: Montserrat;
  src: url("../abeezee/AbeeZee-Regular.ttf");
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: white;
  font-size: 20px;
  margin: 0;
  height: 100%;
}

#nav-container{
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: #333333;
  width:100%;

}
#logo-container{
  width: 115px;
  margin-right: 20px;
}
#logo-container img{
  height: auto;
  width: 100%;
}
main {
  background: #edeef0;
  align-items: center;
}
.main-content-wrapper{
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 90%;
  max-width: 960px;
}

img {
	max-width: 100%;
	}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
nav{
  align-items: center;
  display: flex;
  flex-direction: row;
}
nav a{
  color: white;
  margin-right: 10px;
  font-size: 28px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: 10px;
  border-style: solid;
}
.input{
display: flex;
flex-direction: row;
margin: 10px;
}
label{
text-align: right;
flex-basis: 45%;
}
/* input{
margin-left: 10px;
margin-right: 10px;
} */
select{
  margin-left: 10px;
}

form h2{
  display: flex;
  justify-content: center;
}
.submit{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.error_message{
  display: flex;
  justify-content: center;
  color: red;
}

.hidden {
  display: none;
}

.img-wrapper{
  display: flex;
  flex-direction: column;
}
.img-wrapper img{
  height: 100%;
  width: auto;
}
.instrument-list-wrapper{
  margin-top: 20px;
}
.instrument-content-wrapper{
  display: flex;
  flex-direction: column;
}
.instrument-wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.instrument-wrapper .img-wrapper{
  height: 300px;
}

.odd .instrument-content-wrapper{
  margin-left: 20px;
}

.row {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  margin: 0px auto 30px auto;
  padding: 0px 40px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.box {
  width: 300px;
  height: 300px;
  margin: 15px 15px 15px 15px;
  text-align: center;
}


.row a {
  font-weight: bold;
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: auto;
}

.row a:hover {
  color:orange;
  opacity: 1;
  transition: 0.3s;
}

/*Start of Photo Page */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.column img {
  opacity: 0.6;
  cursor: pointer;
}

.column img:hover {
  opacity: 0.8;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
}

#imgtext {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Start of FOOTER */
footer {
  background: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  width:100%;
}

footer div {
  font-size: .8em;
}

footer a {
  color: black;
}

footer p {
  width: 210px;
  color: #ffffff;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
}

.icon {
  width: 40px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
}
/* End of FOOTER */

/* Start of INSTUMENTS PAGE */
.instrument-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instrument-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.instrument-container p {
  width: 50%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.instrument-image {
  display: flex;
  flex-direction: column;
}

.instrument-container h1 {
  margin: 0;
  margin-bottom: 5px;
}
.profile a{
    font-size: 8px;
}
@media (max-width: 700px){
  #nav-container{
    flex-direction: column;
  }
  #logo-container{
    align-self: center;
  }
  nav{
    justify-content: space-around;
    flex-flow: row wrap;
  }
  nav a{
    font-size: 16px;
  }
  .instrument-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .even{
    flex-direction: column-reverse;
  }
  .instrument-image {
    margin-bottom: 10px;
  }
  .instrument-container p {
    width: 90%;
    margin: 0;
  }
  /* label{
    text-align: center;
  } */
  footer p {
    width: 0px;;
    color: #ffffff;
  }
}
