#nav-container{
  display: flex;
  flex-direction: row;
  background-color: black;
}
#logo-container{
  width: 115px;
  margin-right: 20px;
}
#logo-container img{
  height: auto;
  width: 100%;
}
.main-content-wrapper{
  background-color: white;
}
body{
  background-color: black;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
nav{
  align-items: center;
  display: flex;
  flex-direction: row;
}
nav a{
  color: white;
  margin-right: 30px;
  font-size: 2em;
}
